extends layoutRecos

block content
 hr
 .row
  .col-md-3
    .card(style='width: 18rem;')
      img#imagen_punto0.card-img-top(src='..' alt='Card image cap')
      .card-body
        h5#titulo_punto0.card-title Titulo
        p#direccion_punto0.card-text
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
  .col-md-3
    .card(style='width: 18rem;')
      img#imagen_punto1.card-img-top(src='..' alt='Card image cap')
      .card-body
        h5#titulo_punto1.card-title Titulo
        p#direccion_punto1.card-text
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
  .col-md-3
    .card(style='width: 18rem;')
      img#imagen_punto2.card-img-top(src='..' alt='Card image cap')
      .card-body
        h5#titulo_punto2.card-title Titulo
        p#direccion_punto2.card-text
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
  .col-md-3
    .card(style='width: 18rem;')
      img#imagen_punto3.card-img-top(src='..' alt='Card image cap')
      .card-body
        h5#titulo_punto3.card-title Titulo
        p#direccion_punto3.card-text
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

