doctype html
html
  head
    title= title
    
    link(rel='shortcut icon' href='icono.png')
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link#esti(rel='stylesheet' href='/stylesheets/estilo1.css')
    script(type='text/javascript' src='/javascripts/jquery-1.11.0.min.js')
    script(type='text/javascript' src='/javascripts/funciones.js')
    script(src='https://maps.googleapis.com/maps/api/js?zoom=1&size=400x50&callback=initMap&key=AIzaSyD_mVCh6mJWkCl-rmCyWITJdMHIIqr-PRE' async='' defer='')
    // Titulo de la pagina
    title Recorridos turisticos
  body
    block content
